<p style="margin-top: 10px; text-decoration: underline; font-size: x-small; margin-bottom: 0;">
	Disclaimer
</p>
<p style="font-size: x-small; text-indent: 1.5em; margin-top: 0;">
	This e-mail message (together with any attachments) is for the designated recipient only. 
	It may contain information that is privileged for the designated recipient. If you are not 
	the intended recipient, you are hereby notified that any use, retention, disclosure, copying, 
	printing, forwarding or dissemination of the message is strictly prohibited. If you have 
	received the message in error, please erase all copies of the message (including attachments) 
	from your system and notify the sender immediately.
</p>
