{% extends "_account.html" %}

{% load url from future %}
{% load staticfiles %}

{% block title %}User{% endblock %}

{% block domain %}User{% endblock %}

{% block content %}
<div id="login">
	<form id="userLogin" action="." method="post">{% csrf_token %}
		<fieldset>
			<legend>Login</legend>
		<table>
			{{ form.as_table }}
		</table>
		<input type="hidden" name="next" value="{{ next }}" />
		<button class="btn" type="submit">Sign in</button>
		</fieldset>
	</form>
	<p>
		<a href='{% url 'auth_password_reset' %}'>I can't access my account</a>
		<a style='float: right' href='{% url 'registration_register' %}'>Sign up</a>
	</p>
</div>
{% endblock %}