<div data-role="header">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
        	{% if user.is_authenticated %}
            	<a class="brand" href="{% url 'profile' %}">{{ user.username }}</a>
            {% else %}
            	<a class="brand" href="{% url 'index' %}">Home</a>
            {% endif %}
            <ul class="nav">
            	{% if user.is_authenticated %}
            	<li><a href="{% url 'oauth2_provider:list' %}">Applications</a></li>
            	<li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
            	<li><a href="{% url 'delete' user.username %}">Delete Account</a></li>
            	<li><a href="{% url 'auth_logout' %}">Logout</a></li>
            	{% endif %}
            </ul>
        </div>
    </div>
</div>
</div><!-- /header -->

{% if messages %}
<div class="messages">
  <ul>
    {% for message in messages %}
    <li class="{{ message.tag }}">
      {{ message }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
